*{
    margin: 0;
    padding: 0;
}
:root{
    
    --Primary-Brand:#4D5AE5;

    --Pressed-state:#404BBF;

    --Dark:#2E2F42;
        
    --Success:#31D0AA;

    --Text:#434455;

    --Subtle-Text:#8E8F99;

    --Accent:#E7E9FC;

    --Light:#F4F4FD;

    --Modal-overlay:#2E2F42;

    --Hero-background:#2E2F42;

    --White-background:#FFFFFF;

    --Modal-background:#FCFCFC;

}

body{
    color:var(--Text);
    font-family: Roboto, sans-serif;
    background-color: var(--White-background);

}

img{
    display: inline-block;
}


/*STYLES LINK*/
.link{
    color:var(--Dark);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--Dark);
    text-decoration: none;
    padding: 24px 0;
}

.empty-link:hover,
.link:hover{
    color:var(--Pressed-state)
}

.link:active{
    color: var(--Pressed-state);
}

.empty-link:focus,
.link:focus{
    color:var(--Pressed-state)
}




/*STYLES BUTTON*/

.main-button:hover,
.button:hover{
    color: var(--White-background);
    background-color: var(--Pressed-state);
    cursor: pointer;
}

.button:hover{
    border: 1px solid transparent;
}

.main-button:focus,
.button:focus{
    color:var(--White-background);
    background-color:var(--Pressed-state);
}

.button:focus{
    border: 1px solid transparent;
}

.button:active{
    color: var(--White-background);
    background-color: var(--Pressed-state);
}

.button{
    cursor: pointer;
    font-family: Roboto , sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--Primary-Brand);
    background-color: var(--Light);
    padding: 12px 24px;
}

.main-button{
    cursor: pointer;
    font-family: Roboto , sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--White-background);
    background-color: var(--Primary-Brand);
    display:block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;

}

/*STYLES HEADLINE*/

.headline{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--Dark);
    margin-bottom: 8px;
    
}


.second-headline{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--Dark);
    margin-bottom: 72px;
}



.main-headline{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--White-background);
    max-width: 496px;
}

.text{
    font-size: 16px;
    line-height: 1.5;
    color:var(--Text);
    font-weight: 400;
    letter-spacing: 0.02em;
}

.list{
    list-style: none;
    display: flex;
    gap: 40px;
    
}

.footer{
    background-color:var(--Dark);
    padding: 100px 0;
}


.span-header{
    color: var(--Dark);
}

.span-footer{
    color: var(--Light);
    max-width: 264px;
}


.info{
    color:var(--Text);
    
}

.logo{
    font-family: Raleway,sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--Primary-Brand);
    text-decoration: none;
    margin-right: 76px;
}

.adres{
    font-style: normal;
}

.section{
    background-color:var(--Hero-background);
    padding: 188px 0;
}

.last-section{
    background-color: var(--Light);
    padding: 120px 0;
}

.list-point{
    background-color: var(--White-background);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}






.header{
    border-bottom: 1px solid var(--Accent);
}

.header-div{
    display:flex;
    
}

.container{
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.nav{
    display: flex;
    align-items: center;
}

.section-second-opcion{
    padding: 120px 0 120px;
}

.atrybutes{
    gap:24px;
}

.list-element{
    width: calc((100% - 72px) / 4);
}

.container-person{
    padding: 32px 0px;
}

.name{
    text-align: center;
}

.foot{
    display: inline-block;
    margin-bottom: 16px;
}

.section-third-option{
    padding-top: 96px;
    padding-bottom: 120px;
}

.center{
    justify-content: center;
}

.bottom-margin-border{
    margin-bottom: 72px;
}

.border-button{
    border: 1px solid var(--Accent);
    border-radius:4px ;
}

.wrap{
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.list-element-two{
    width: calc((100% - 48px) / 3);
}

.container-two{
    padding: 32px 16px;
    border: 1px solid var(--Accent);
    border-top: none;
}

.hidden{
    visibility: hidden;
}

.list-element-three{
    width: calc(100%-48px)/3;
}

.third{
    padding-bottom: 120px;
}